.ox_bg {
    background-color: #790030;
}

.ox_text {
    color: #730909 !important;
}

.dark_blue_bg {
    background-color: #0d3f84;
}

.ash_bg {
    background-color: #e6e6e6;
}

.ox_outline{
    border: 1px solid #790030 !important;
}
.small_input{
    max-width: 100px;
}

.negative_top_2{
    margin-top: -2rem;
}

.small_text{
    font-size: 0.8rem !important;
}
.sky_bg{
    background-color: rgba(85, 112, 241, 0.12);
}

.ash_text{
    color: #89879f;
}

.medium_modal{
    max-width: 700px;
}
.empty_container{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 6px;
}

.empty_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(225, 226, 233, 1)    ;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

}

